<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://matthewhanna.net/" target="_blank">matthewhanna.net</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/matthewhanna/" target="_blank">linkedin.com/matthewhanna</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:contact@matthewhanna.net" target="_blank">contact@matthewhanna.net</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:6263449463" target="_blank">626-344-9463</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/irtheman/" target="_blank">@irtheman</a></p>
