<script>
  function downloadFile(url) {
    const fileName = url.split('/').pop();
    const link = document.createElement('a');
    link.style.display = 'none';
    link.href = url;
    link.download = fileName;

    document.body.appendChild(link);
    link.click();

    setTimeout(() => {
      //URL.revokeObjectURL(link.href);
      link.parentNode.removeChild(link);
    }, 100);
  }

  function downloadPrompt(event) {
    event.preventDefault();

    const userConfirmed = confirm("Are you sure you want to download this file?");
    if (userConfirmed) {
      const url = event.target.getAttribute('data-url');
      downloadFile(url);
    }
  }

  const anchors = document.querySelectorAll('a[data-url]');
  for (let i = 0; i < anchors.length; i++) {
    anchors[i].addEventListener('click', downloadPrompt);
  }

  const images = document.querySelectorAll('img.img-rounded');
  if (images.length > 1) {
    const popup = document.getElementById('popup');
    const popupImage = document.getElementById('popupImage');
    const overlay = document.getElementById('overlay');

    for (let i = 0; i < images.length; i++) {
      images[i].addEventListener('click', (event) => {
        popupImage.src = event.target.src;
        popup.style.display = 'block';
        overlay.style.display = 'block';
      });
    }

    overlay.addEventListener('click', () => {
      popup.style.display = 'none';
      overlay.style.display = 'none';
    });  
  }
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R6GMG73QCZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R6GMG73QCZ');
</script>