<script>
  function downloadFile(url) {
    const fileName = url.split('/').pop();
    const link = document.createElement('a');
    link.style.display = 'none';
    link.href = url;
    link.download = fileName;

    document.body.appendChild(link);
    link.click();

    setTimeout(() => {
      //URL.revokeObjectURL(link.href);
      link.parentNode.removeChild(link);
    }, 100);
  }

  function downloadPrompt(event) {
    event.preventDefault();

    const userConfirmed = confirm("Are you sure you want to download this file?");
    if (userConfirmed) {
      const url = event.target.getAttribute('data-url');
      downloadFile(url);
    }
  }

  const anchors = document.querySelectorAll('a[data-url]');
  for (let i = 0; i < anchors.length; i++) {
    anchors[i].addEventListener('click', downloadPrompt);
  }

  const images = document.querySelectorAll('img.img-rounded');
  if (images.length > 1) {
    const popup = document.getElementById('popup');
    const popupImage = document.getElementById('popupImage');
    const overlay = document.getElementById('overlay');

    for (let i = 0; i < images.length; i++) {
      images[i].addEventListener('click', (event) => {
        popupImage.src = event.target.src;
        popup.style.display = 'block';
        overlay.style.display = 'block';
      });
    }

    overlay.addEventListener('click', () => {
      popup.style.display = 'none';
      overlay.style.display = 'none';
    });
  }
</script>

<script>
  const header = document.querySelector("header");
  if (header) {
    header.innerHTML = `
    <button class="mh-banner">Matthew's Official Website</button>
    <div class="mh-banner-content">
        <div class="mh-banner-content-center"><strong>Welcome to one of Matthew's official websites!</strong><br/></div>
        <div class="mh-banner-content-filler-first">&nbsp;</div>
        <div>
            <strong>Matthew's Websites</strong><br/
            <ul>
                <li><a href="https://matthewhanna.com">Business Website</a></li>
                <li><a href="https://matthewhanna.net">Resume Website</a></li>
                <li><a href="https://blog.matthewhanna.net">Coding Blog</a></li>
                <li><a href="https://matthewhanna.me">Personal Blog</a></li>
            </ul>
        </div>
        <div>&nbsp;</div>
        <div>
            <strong>Managed Websites</strong><br/
            <ul>
                <li><a href="https://jhausman.ninja">Jessica Hausman</a></li>
                <li><a href="https://msgdrinking.ninja">Drinking Giraffe Blog</a></li>
            </ul>
        </div>
        <div class="mh-banner-content-filler-second">&nbsp;</div>
        <div class="mh-banner-content-center">Feel free to explore and learn more about Matthew's work and interests!</div>
    </div>
`;

    const coll = document.getElementsByClassName("mh-banner");
    for (let i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  }
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R6GMG73QCZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-R6GMG73QCZ');
</script>