---
---

$banner-color: #333;
$banner-hover-color: #000;
$banner-link-color: #23527c;

.mh-banner-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	font-size: 11px;
	z-index: 250;

	&:has(.banner-active) {
		z-index: 750;
	}

	.mh-banner {
		color: $banner-color;
		cursor: pointer;
		width: 100%;
		border: none;
		text-align: center;
		outline: none;
		font-size: 11px;

		&:hover, .banner-active {
			text-shadow: 0px 0px 1px $banner-hover-color;
		}

		.banner-active:after {
			content: "\23f6";
			margin-left: 5px;
			z-index: 750;
		}

		&:after {
			content: '\23f7';
			margin-left: 5px;
		}
	}

	.mh-banner-content {
		display: grid;
		grid-template-columns: repeat(1fr, 12);
		gap: 5px;
		padding: 0 18px;
		max-height: 0;
		overflow: hidden;
		font-size: 12px;
		transition: max-height 0.2s ease-out;
		backdrop-filter: brightness(90%);
		-moz-backdrop-filter: brightness(90%);
		-webkit-backdrop-filter: brightness(90%);

		div.mh-banner-content-filler-first {
			grid-column: 1 / span 5;
		}

		div.mh-banner-content-filler-second {
			grid-column: 9 / span 4;
		}

		div.mh-banner-content-center {
			grid-column: 1 / span 12;
			text-align: center;
		}

		a {
			color: $banner-link-color;
			text-decoration: none;

			&:hover {
				filter: brightness(90%);
				text-decoration: underline;
			}
		}
	}
}